@using Program.Models;
@using Program.Define;
@{
    ViewBag.Title = "Page authentication";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string email = ViewBag.email;
    ViewBag.pageNow =
        new LocationPage(DefinePage.home,
            new LocationPage(DefinePage.user,
                new LocationPage(DefinePage.user_ForgetPassword)));
    bool checkAuth = false;
}
<link href="~/Content/style/userstyle.css" rel="stylesheet" />
<section>
    <div class="container" style="margin: 0; max-width: 100%">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12" style="padding: 0">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-1-5 mx-1 mx-md-4 mt-4 title">@DefinePage.user_Authentication.name</p>
                                <div class="alert alert-danger alert-dismissible fade show d-none" id="error" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="alert alert-success alert-dismissible fade show d-none" id="success" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <form id="form" class="d-flex flex-column align-items-center input-code-authen" action="#" method="post">
                                    <div class="alert alert-success">
                                        <strong>
                                            Hệ thống đã gửi mã xác thực về email <span id="email-string">@email</span>.
                                            Vui lòng kiểm tra email để lấy mã xác thực. <br />
                                            <a href="@(DefinePage.user_ForgetPassword.url)">Đổi phương thức nhận mã</a>
                                        </strong>
                                    </div>
                                    <div class="form-outline flex-fill mb-1 d-flex flex-row w-100 justify-content-between">
                                        <input type="hidden" name="email" id="email-form1" value="@email" />
                                        <input type="text" id="ma-xac-thuc" class="input form-control" name="ma-xac-thuc" placeholder="Nhập mã xác thực" value="" />
                                        <button type="button" class="btn-down-time btn btn-primary btn-lg d-flex flex-nowrap flex-row" style="background-color: #0D6EFD;">
                                            <span>Gửi</span>
                                            <span>&nbsp;</span>
                                            <span>lại</span>
                                            <span>&nbsp;</span>
                                            <span class="down-time"></span>
                                        </button>
                                    </div>

                                    <p class="text-danger w-100" id="errorMaXacThuc"></p>

                                    <div class="d-flex mx-4 mb-3 mb-lg-4 flex-wrap w-100" style="justify-content: space-evenly;">
                                        <a href="#">
                                            <button type="button" class="btn btn-primary btn-lg btn-submit-maXacThuc" style="background-color:#0D6EFD; border: 0;">
                                                Send
                                            </button>
                                        </a>
                                        <a href="~/Home/Index">
                                            <button type="button" class="btn btn-primary btn-lg" style="background-color:#808080; border: 0;">
                                                Cancel
                                            </button>
                                        </a>
                                    </div>
                                </form>

                                <form id="form-2" class="d-none" action="@DefinePage.home.url" method="post">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="form-outline flex-fill mb-0">
                                            <span class="input form-control input-new-password">
                                                <input type="password" show id="newPassword" class="input form-control" name="newPassword" placeholder="Input new password" />
                                                <i class="fa-solid fa-eye" onclick="view('newPassword', 'input-new-password')"></i>
                                                <i class="fa-solid fa-eye-slash d-none" onclick="hide('newPassword', 'input-new-password')"></i>
                                            </span>
                                            <p class="text-danger" id="errorNewPassword"></p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <span class="input form-control input-repeat-new-password">
                                                <input type="password" show id="repeatNewPassword" class="input form-control" name="repeatNewPassword" placeholder="Input repeat new password" />
                                                <i class="fa-solid fa-eye" onclick="view('repeatNewPassword', 'input-repeat-new-password')"></i>
                                                <i class="fa-solid fa-eye-slash d-none" onclick="hide('repeatNewPassword', 'input-repeat-new-password')"></i>
                                            </span>
                                            <p class="text-danger" id="errorRepeatNewPassword"></p>
                                        </div>
                                    </div>

                                    <div class="d-flex mx-4 mb-3 mb-lg-4 flex-wrap" style="justify-content: space-evenly;">
                                        <a href="#">
                                            <button type="button" class="btn btn-primary btn-lg btn-submit-new-password" style="background-color:#0D6EFD; border: 0;">
                                                Send
                                            </button>
                                        </a>
                                        <a href="~/Home/Index">
                                            <button type="button" class="btn btn-primary btn-lg" style="background-color:#808080; border: 0;">
                                                Cancel
                                            </button>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="~/Content/imgs/img-of-login.jpg"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var error = $('#error');
    var success = $('#success');
    $(document).ready(function () {
        $('#ma-xac-thuc').keypress(function () {
            $('#errorMaXacThuc').text("")
        })
        $('.btn-down-time').on('click',
            function () {
                location.reload();
            }
        );
        $('#newPassword').keypress(function () {
            $('#errorNewPassword').text("")
        })
        $('#newRepeatPassword').keypress(function () {
            $('#errorNewRepeatPassword').text("")
        })
    });
    $('.btn-submit-maXacThuc').click(function () {
        var maXacThuc = $('#ma-xac-thuc').val();
        var errorMaXacThuc = $('#errorMaXacThuc');
        errorMaXacThuc.text('');
        if (maXacThuc.length != 6) {
            errorMaXacThuc.text('Mã xác thực phải có đủ 6 ký tự')
            return;
        }
        for (let key in maXacThuc)
            if (key > '9' || key < '0') {
                errorMaXacThuc.text('Mã xác thực chỉ chứa các ký tự số');
                return;
            }
        var data = {
            maXacThuc: maXacThuc,
            email: "@email"
        };
        toUrlAjax("POST", data, "/User/checkMaXacThuc",
            function (data) {
                var errorMessage = data["error"];
                var successMessage = data["success"];
                if (successMessage) {
                    $('.title').text("Change New Password");
                    $('#form').addClass('d-none');
                    $('#form-2').removeClass('d-none');
                    error.addClass('d-none');
                    success.removeClass('d-none');
                    success.text(successMessage);
                    @checkAuth = true;
                } else {
                    error.removeClass('d-none');
                    error.text(errorMessage + "");
                    success.addClass('d-none');
                }
            },
            function (data) {
                success.addClass('d-none');
                error.removeClass('d-none');
                error.text(data + "");
            }
        );
    })
    $('.btn-submit-new-password').click(function () {

        let checkAuth = @(checkAuth == true ? 1 : 0);

        if (!checkAuth) {
            error.removeClass('d-none');
            error.text("Bạn phải nhập mã xác thực đúng trước.");
            return;
        }

        let newPassword = $('#newPassword').val();
        let repeatNewPassword = $('#repeatNewPassword').val();

        let errorNewPassword = $('#errorNewPassword');
        let errorRepeatNewPassword = $('#errorRepeatNewPassword');

        errorNewPassword.text('');
        errorRepeatNewPassword.text('')

        if (newPassword.length < 6) {
            errorNewPassword.text("Mật khẩu phải có từ 6 ký tự trở lên");
            return;
        }
        if (newPassword != repeatNewPassword) {
            errorRepeatNewPassword.text("Mật khẩu lặp lại phải trùng khớp mật khẩu mới");
            return;
        }
        var data = {
            email: "@email",
            newPassword: newPassword
        }
        toUrlAjax("POST", data, "/User/checkNewPassword",
            function (data) {
                var errorMessage = data["error"];
                var successMessage = data["success"];
                if (successMessage) {
                    alert("Thông báo:\n" + successMessage);
                    window.location = "/Home";
                } else {
                    error.removeClass('d-none');
                    error.text(errorMessage + "");
                    success.addClass('d-none');
                }
            },
            function (data) {
                success.addClass('d-none');
                error.removeClass('d-none');
                error.text(data + "");
            }
        );
    })
    function setTime() {
        $('.btn-down-time').attr('disabled', 'disabled');
        let second = 60;
        $('.down-time').text(' (' + second + 's)');
        const interval = setInterval(function () {
            if (--second >= 0) {
                $('.down-time').text(' (' + second + 's)');
            } else {
                $('.down-time').text('');
                $('.btn-down-time').attr('disabled', null);
                clearInterval(interval);
            }
        }, 1000);
    }
    setTime();
</script>